<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
<title>Travel-Pro</title>
<link
	rel="shortcut icon"
	href="/img/icon.png" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	<script
			src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
			integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"></script>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
</head>

<body>

    <section id="invoice">
        <div class="container my-10 py-10">

            <div class="text-center pb-5">
                <img src="images/logo_dark.png" alt="">
            </div>

			<h1	style=" margin-left: 10px ; text-align: center;"
						class="m-0 text-primary">
						<i
							class="fa fa-map-marker-alt me-3"
							style="margin-right: 10px"></i
						>Travel-Pro Logistics
					</h1>

            <div class="d-md-flex justify-content-between my-5">
                <div>
                    <p class="fw-bold text-primary">Invoice To</p>
                    <h4><%= item.name %></h4>
                    <ul class="list-unstyled m-0">
                        <li><%= item.to %></li>
                        <li><%= item.departure %></li>
                        <li><%= item.orderNumber %></li>
                    </ul>
                </div>
                <div class="mt-5 mt-md-0">
                    <p class="fw-bold text-primary">Invoice From</p>
                    <h4>Travel-Pro</h4>
                    <ul class="list-unstyled m-0">
                        <li>Shipment Logistics</li>
                        <li>Travel-Pro@gmail.com</li>
                    </ul>
                </div>
            </div>

            <div
                class=" d-md-flex justify-content-between align-items-center border-top border-bottom border-primary my-5 py-3">
                <h2 class="display-6 fw-bold m-0">Invoice <%= item.shipmentNo %> </h2>
                <div>
                    <p class="m-0"> <span class="fw-medium">Invoice No:</span> <%= item.shipmentNo %></p>
                    <p class="m-0"> <span class="fw-medium">Invoice Date:</span> <%= item.departure %></p>
                    <p class="m-0"> <span class="fw-medium">Shipment type:</span> <%= item.shipmentType %></p>
                    <p class="m-0"> <span class="fw-medium">Delivery Date:</span> <%= item.dueDate %></p>
                </div>

            </div>

            <div class="py-1">
                <table class="table table-striped border my-5">
                    <thead>
                        <tr>
                           
                            <th scope="col">Items Description</th>
                            <!-- <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           
                            <td style="height: 40px;"><%= item.item1 %></td>
                            <!-- <td>$350.00</td>
                            <td>2</td>
                            <td>$700.00</td> -->
                        </tr>
                        <tr>
                           
                            <td style="height: 40px;"><%= item.item2 %></td>
                            <!-- <td>$250.00</td>
                            <td>1</td>
                            <td>$250.00</td> -->
                        </tr>
                        <tr>
                           
                            <td style="height: 40px;"><%= item.item3 %></td>
                            <!-- <td>$100.00</td>
                            <td>4</td>
                            <td>$400.00</td> -->
                        </tr>
                       
                        <td style="height: 40px;"><%= item.item4 %></td>
                        <!-- <td>$350.00</td>
                        <td>2</td>
                        <td>$700.00</td> -->
                        </tr>
                        <tr>
                           
                            <td style="height: 40px;"><%= item.item5 %></td>
                            <!-- <td>$250.00</td>
                            <td>2</td>
                            <td>$500.00</td> -->
                        </tr>
                        <tr>
                           
                            <td style="height: 40px;"><%= item.item6 %></td>
                            <!-- <td>$100.00</td>
                            <td>4</td>
                            <td>$400.00</td> -->
                        </tr>
                        <tr>
                           
                            <td style="height: 40px;"><%= item.item7 %></td>
                            <!-- <td>$100.00</td>
                            <td>4</td>
                            <td>$400.00</td> -->
                        </tr>
                        <tr>
                           
                            <td style="height: 40px;"><%= item.item8 %></td>
                            <!-- <td>$100.00</td>
                            <td>4</td>
                            <td>$400.00</td> -->
                        </tr>
                        <tr>
                           
                            <td style="height: 40px;"><%= item.item9 %></td>
                            <!-- <td>$100.00</td>
                            <td>4</td>
                            <td>$400.00</td> -->
                        </tr>
                        <tr>
                           
                            <td style="height: 40px;"><%= item.item10 %></td>
                            <!-- <td>$100.00</td>
                            <td>4</td>
                            <td>$400.00</td> -->
                        </tr>
                       
                      
                      
                    </tbody>
                </table>
            </div>


            <div class="d-md-flex justify-content-between my-5">

                

                <div>
                    <h5 class="fw-bold my-4">Contact Us</h5>
                    <ul class="list-unstyled">
                        <li><iconify-icon class="social-icon text-primary fs-5 me-2" icon="mdi:location"
                                style="vertical-align:text-bottom"></iconify-icon> 30 E Lake St, Chicago, USA</li>
                        <li><iconify-icon class="social-icon text-primary fs-5 me-2" icon="solar:phone-bold"
                                style="vertical-align:text-bottom"></iconify-icon> (510) 710-3464</li>
                        <li><iconify-icon class="social-icon text-primary fs-5 me-2" icon="ic:baseline-email"
                                style="vertical-align:text-bottom"></iconify-icon> Travel-Pro@gmail.com</li>
                    </ul>
                </div>


            </div>

            <div class="text-center my-5">
                <p class="text-muted"><span class="fw-semibold">NOTICE: </span> A finance charge of 1.5% will be made on
                    unpaid balances after 30 days.</p>
            </div>

            <div id="footer-bottom">
                <div class="container border-top border-primary">
                    <div class="row mt-3">
                        <div class="col-md-6 copyright">
                            <p>© 2024 Invoice. <a href="#" target="_blank"
                                    class="text-decoration-none text-black-50">Terms & Conditions apply</a> </p>
                        </div>
                       
                    </div>
                </div>
            </div>

        </div>
    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

</body>

</html>